<!--CITED: https://github.com/osu-cs340-ecampus/nodejs-starter-app-->

<div class="body-container">
<div class="tabless-container">
    <h4 class="heading">Employees</h4>
<table id="employee-table" class="table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Username</th>
            <th>Store ID</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.employee_id}}>
            <td data-label="Employee ID">{{this.employee_id}}</td>
            <td data-label="First Name">{{this.first_name}}</td>
            <td data-label="Last Name">{{this.last_name}}</td>
            <td data-label="Email">{{this.email}}</td>
            <td data-label="Phone Number">{{this.phone_number}}</td>
            <td data-label="Username">{{this.username}}</td>
            <td data-label="Store ID">{{this.store_id}}</td>
            <td data-label="Edit"><button class="edit-btn" onclick="editEmployee({{this.employee_id}})">Edit</button></td>
            <td data-label="Delete"><button class="delete-btn" onclick="deleteEmployee({{this.employee_id}})">Delete</button></td>


        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_employee.js"></script>


<div class="forms">
<div class="add-body">
<div class="add-container">
    <form id='add-employee-form'>
    <div class="title">Add a New Customer</div>
        <div class="user-details">
            <div class="input-box">
                <label class="details" for="input-fname">First Name: </label>
                <input type="text" name="input-fname" id="input-fname"><br>
            </div>

         <div class="input-box">
            <label class="details" for="input-lname">Last Name: </label>
            <input type="text" name="input-lname" id="input-lname"><br>
         </div>

         <div class="input-box">
            <label class="details" for="input-email">Email: </label>
            <input type="text" name="input-email" id="input-email"><br>
         </div>

        <div class="input-box">
            <label class="details" for="input-phone-number">Phone Number: </label>
            <input type="text" name="input-phone-number" id="input-phone-number"><br>
        </div>

        <div class="input-box">
            <label class="details" for="input-username">Username: </label>
            <input type="text" name="input-username" id="input-username"><br>
        </div>

         <div class="input-box">
           <label for="input-store-id">Store ID: </label>
            <select name="input-store-id" id="input-store-id">
                <option>Select Store</option>
                {{#each stores}}
                <option value="{{this.store_id}}">{{this.store_city}}</option>
                {{/each}}
            </select><br>
         </div>

         <div class="add-btn" >
              <input type="submit" name="add-employee-button" id="add-employee-button" value="Submit">
         </div>

        </div>

    </form>

    <form id="edit-employee-form" style="display:none;">
       <div class="title">Edit Customer</div>
        <div class="user-details">
        <div class="input-box">
            <label class="details" for="edit-fname">First Name: </label>
            <input type="text" name="edit-fname" id="edit-fname"><br>
        </div>

        <div class="input-box">
            <label class="details" for="edit-lname">Last Name: </label>
            <input type="text" name="edit-lname" id="edit-lname"><br>
        </div>

         <div class="input-box">
            <label class="details" for="edit-email">Email: </label>
            <input type="text" name="edit-email" id="edit-email"><br>
         </div>

         <div class="input-box">
             <label class="details" for="edit-phone-number">Phone Number: </label>
            <input type="text" name="edit-phone-number" id="edit-phone-number"><br>
         </div>

        <div class="input-box">
             <label class="details" for="edit-username">Username: </label>
            <input type="text" name="edit-username" id="edit-username"><br>
        </div>

         <div class="input-box">
           <label for="edit-store-id">Store ID: </label>
           <select name="edit-store-id" id="edit-store-id">
             <option>Select Store</option>
             {{#each stores}}
             <option value="{{this.store_id}}">{{this.store_city}}</option>
             {{/each}}
           </select><br>
         </div>

         <div class="add-btn" >
               <input type="submit" name="edit-employee-button" id="edit-employee-button" value="Edit">
         </div>
        <div class="cancel-btn">
            <input type="cancel" value="Cancel" onclick="cancelEdit()">
        </div>
        </div>

    </form>
</div>
</div>
</div>
</div>
</div>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}


<script src="./js/add_employee.js"></script>
<script src="./js/edit_employee.js"></script>
